<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ParseAPIRestKey</key>
	<string>yBJYwGvjxppoSJmFCIXVIVG8hIbvOgX69nNwAEEP</string>
	<key>ParseAPIApplicationID</key>
	<string>V7qeQoqBdCe0URaXYO7zWXFZbUg87KlpqUyIB6gV</string>
</dict>
</plist>
